/*SPACING SYSTEM*/

/*FONT SIZE SYSTEM: 
- PRICING - font: 800 30px/0.8 "Raleway";
- SOME OF OUR FEATURES - font: 18px "Karla";
- Personal, Business, Gold, Ultimate - font: bold 20px/1.2 "Raleway";
- From $100 per month - font: 500 18px "Raleway";
- Business Support, Business Analysing, 24 hour support, Client management*/

/*MAIN COLOR: #3bc9db;#f08c00;*/

* {
  box-sizing: border-box;
}

/*HEADER*/
.header {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  gap: 9.6rem;
}

.header-primary {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: rgb(45, 45, 45);
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.heading-secondary {
  font-size: 18px;
  line-height: 1;
  margin-bottom: 2rem;
  color: rgb(94, 95, 95);
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.price .header-li {
  background-color: white;
  color: rgb(69, 70, 70);
  font-size: 20px;
  padding-top: 15%;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  border-bottom: 1px solid #eee;
}

.price li {
  border-bottom: 1px;
  padding: 16px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: darkgray;
}

.features-list {
  list-style-type: none;
  padding-inline-start: 0;
  text-align: center;
  font-size: 13px;
  border-top: 1px solid #eee;
  line-height: 0.2;
  padding-bottom: 25%;
  padding-top: 15%;
}

.button {
  background-color: #3bc9db;
  text-decoration: none;
  border-radius: 25px;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

.colortext {
  color: #f08c00;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}

/*GRIDS*/

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.container {
  max-width: 120rem;
  padding: 0 12rem;
  margin: 0px auto;
  text-align: left;
}

.grid {
  display: grid;
  column-gap: 1rem;
  row-gap: 1.6rem;
}
