/*SPACING SYSTEM*/

/*FONT SIZE SYSTEM: 
- PRICING - font: 800 30px/0.8 "Raleway";
- SOME OF OUR FEATURES - font: 18px "Karla";
- Personal, Business, Gold, Ultimate - font: bold 20px/1.2 "Raleway";
- From $100 per month - font: 500 18px "Raleway";
- Business Support, Business Analysing, 24 hour support, Client management*/

/*MAIN COLOR: #3bc9db;#f08c00;*/

/*
.bnt:link
.btn:visited
display: inline block* - we can add space*/

* {
  margin: 0;
  padding: 0;
}
